body {
  display: grid;
  grid-template-columns: 250px 1fr;
  width: 100vw;
  height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidebar {
  background-color: #1992d4;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-weight: 500;
  color: #fff;
}

.sidebar section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar section div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar-header img {
  width: 35px;
  height: auto;
}

.sidebar-header p {
  font-size: 1.5rem;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 10px 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  gap: 30px;
}

.header-search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-search input {
  flex: 1;
  background-color: rgb(216, 216, 216);
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.header-profile-1 {
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 500;
  justify-content: center;
}

.header-profile-2 {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 500;
}

.header-profile-2 > div > p:nth-child(2) {
  font-size: 1.2rem;
}

.pfp {
  border-radius: 99px;
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-buttons button {
  padding: 10px 25px;
  border: none;
  background-color: #1992d4;
  border-radius: 20px;
  font-weight: 500;
  color: #fff;
}
