body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100vw;
  height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidebar {
  background-color: #1992d4;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-weight: 500;
  color: #fff;
}

.sidebar section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar section div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar-header img {
  width: 35px;
  height: auto;
}

.sidebar-header p {
  font-size: 1.5rem;
}
