body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100vw;
  height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidebar {
  background-color: #1992d4;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
